/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3b5bff;
  --ifm-color-primary-dark: #2f4ee6;
  --ifm-color-primary-darker: #2a46cf;
  --ifm-color-primary-darkest: #1f36a8;
  --ifm-color-primary-light: #556dff;
  --ifm-color-primary-lighter: #6b80ff;
  --ifm-color-primary-lightest: #8f9fff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7c8cff;
  --ifm-color-primary-dark: #6476ff;
  --ifm-color-primary-darker: #5669f5;
  --ifm-color-primary-darkest: #4352c9;
  --ifm-color-primary-light: #8f9cff;
  --ifm-color-primary-lighter: #a2adff;
  --ifm-color-primary-lightest: #c3caff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.avatar__name {
  font-weight: normal;
  margin-bottom: 5px;
}

.avatar__name span {
  font-size: .9rem;
}

.avatar__intro {
  justify-content: center;
}

.avatar__photo {
  border: 1px solid #ddd;
}